<app-header></app-header>
<ion-content>
  <div class="container">
    <div class="abtIntro">
      <img src="../../../assets/banner_about-us.png" alt="" />
      <p class="para">
        RT Stone Supplier is a London based firm specialising in Importing
        Quartz, Granite, Marble, Tiles and other Natural Stone. RT Stone was
        established out of the desire of the owners to bring to the market high
        quality and affordable products. We have been established for over 7
        years and are well known to the industry for our excellent customer
        service, we pride ourselves in undertaking high quality materials,
        skilled workmanship and competitive pricing. Unlike the vast majority
      </p>
      <a href="">View more</a>
    </div>
    <div class="warrantyTxt">
      <h5 class="stoneHeading">15 Years Warranty</h5>
      <img src="../../../assets/banner_about-us.png" alt="" />
      <p class="para">
        <strong class="clear">Residential 15-Year Warranty:</strong>
        iStone quartz by RT Stone will warrant from the original date of
        installation material that fails due to any manufacturing defect when
        fabricated and installed by a iStone Certified Fabricator for a period
        of Fifteen (15) years. This warranty applies to the repair or
        replacement of failed material that has been permanently installed in a
        single-family residence.
      </p>
      <a href="">View more</a>
    </div>
    <div class="deliveryTxt">
      <h5 class="stoneHeading">Delivery</h5>
      <img src="../../../assets/banner_about-us.png" alt="" />
      <p class="para">
        With our own truck and reputable Hauliers, we can deliver to anywhere in
        the London and surrounding 60 miles radius within 1-2 days from time of
        orders, helping our customers meet their scheduled time.
      </p>
      <p class="para">
        For customers slab viewings are available on Saturdays also by
        appointment only and the timings are from 9:00am to 12:00 pm other
      </p>
      <a href="">View more</a>
    </div>
    <div class="careTxt">
      <h5 class="stoneHeading">Care Advices</h5>
      <img src="../../../assets/banner_about-us.png" alt="" />
      <p class="para">
        RT Stone always believes in great supplying high quality products which last for years. As our slabs or tiles can be used anywhere from kitchen worktops, office flooring, bars & pubs to bathrooms. Below are the list of tips or maintenance guidelines that will help the end customer to maintain their Granite, Marble, Quartz and tile worktops and floors.
      </p>
      <a href="">View more</a>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>
