<app-header></app-header>
<ion-content [fullscreen]="true">
  <div class="prodFilter">
    <span class="prodNum">134 Products</span>
    <span class="filterDropdown">
      <ion-select
        multiple="true"
        value="quartz"
        okText="Okay"
        cancelText="Dismiss"
        [interfaceOptions]="typeOptions"
      >
        <ion-select-option value="quartz">Quartz</ion-select-option>
        <ion-select-option value="granite">Granite</ion-select-option>
        <ion-select-option value="marble">Marble</ion-select-option>
        <ion-select-option value="tile">Tile</ion-select-option>
      </ion-select>
      <ion-select
        multiple="true"
        value="brown"
        okText="Okay"
        cancelText="Dismiss"
        [interfaceOptions]="colorOptions"
      >
        <ion-select-option value="brown">Brown</ion-select-option>
        <ion-select-option value="blonde">Blonde</ion-select-option>
        <ion-select-option value="black">Black</ion-select-option>
        <ion-select-option value="red">Red</ion-select-option>
      </ion-select></span
    >
  </div>
  <div class="prodContainer">
    <div class="prodItem">
      <div class="prodImg">
        <img src="../../../assets/home-new-1.jpg" alt="" />
      </div>
      <div class="prodDet">
        <span class="topDet">
          <p>Stellar Brown</p>
        </span>
        <span class="midDet">
          <p>Size: 4' x 4'</p>
          <p>Quantity: 24 pcs</p>
        </span>
        <span class="botDet">View details</span>
      </div>
    </div>
    <div class="prodItem">
      <div class="prodImg">
        <img src="../../../assets/home-new-2.jpg" alt="" />
      </div>
      <div class="prodDet">
        <span class="topDet">
          <p>Stellar Brown</p>
        </span>
        <span class="midDet">
          <p>Size: 4' x 4'</p>
          <p>Quantity: 24 pcs</p>
        </span>
        <span class="botDet">View details</span>
      </div>
    </div>
    <div class="prodItem">
      <div class="prodImg">
        <img src="../../../assets/home-new-3.jpg" alt="" />
      </div>
      <div class="prodDet">
        <span class="topDet">
          <p>Stellar Brown</p>
        </span>
        <span class="midDet">
          <p>Size: 4' x 4'</p>
          <p>Quantity: 24 pcs</p>
        </span>
        <span class="botDet">View details</span>
      </div>
    </div>
    <div class="prodItem">
      <div class="prodImg">
        <img src="../../../assets/home-new-4.jpg" alt="" />
      </div>
      <div class="prodDet">
        <span class="topDet">
          <p>Stellar Brown</p>
        </span>
        <span class="midDet">
          <p>Size: 4' x 4'</p>
          <p>Quantity: 24 pcs</p>
        </span>
        <span class="botDet">View details</span>
      </div>
    </div>
    <div class="prodItem">
      <div class="prodImg">
        <img src="../../../assets/home-new-1.jpg" alt="" />
      </div>
      <div class="prodDet">
        <span class="topDet">
          <p>Stellar Brown</p>
        </span>
        <span class="midDet">
          <p>Size: 4' x 4'</p>
          <p>Quantity: 24 pcs</p>
        </span>
        <span class="botDet">View details</span>
      </div>
    </div>
  </div>
  <app-grey-contact></app-grey-contact>
  <app-footer></app-footer>
</ion-content>
