<div class="footerContainer">
  <h5>Contact us</h5>
  <div class="footerContent">
    <div>
      <h6>England:</h6>
      <p>RTstone,</p>
      <p>Compound 1 Boundary Road,</p>
      <p>East Lane Business Park,</p>
      <p>Wembley.</p>
      <p>HA9 7NF.</p>
    </div>
    <div>
      <h6>Business hours:</h6>
      <p>Monday-Friday: 8:30am to 5:00pm</p>
      <p>Saturday: 9:00am to 12:00pm</p>
      <p>Sunday: Closed</p>
    </div>
    <div>
      <h6>Phone:</h6>
      <p>0203 372 5489</p>
      <p>07772778291</p>
    </div>
    <div>
      <h6>Email:</h6>
      <p>info@rtstone.co.uk</p>
    </div>

    <div>
      <h6>Northern Ireland:</h6>
      <p>Granmarq Ltd 90A,</p>
      <p>Forkhill road,</p>
      <p>Newry.</p>
      <p>BT35 8QY.</p>
    </div>
    <div>
      <h6>Business hours:</h6>
      <p>Monday-Friday: 8:30am to 5:00pm</p>
      <p>Saturday: 9:00am to 12:00pm</p>
    </div>
    <p>Sunday: Closed</p>
    <div>
      <h6>Phone:</h6>
      <p>02830849849</p>
    </div>
    <div>
      <h6>Email:</h6>
      <p>info@rtstone.co.uk</p>
    </div>
  </div>

  <h5>Follow us</h5>
  <div class="socialContent">
    <div><a href="#">Facebook</a></div>
    <div><a href="#">Twitter</a></div>
    <div><a href="#">Linkedin</a></div>
    <div><a href="#">Youtube</a></div>
  </div>
</div>
<div class="copyRight">
  <p>&copy; iStone 2020</p>
  <p>designed with love by Saikat Roy</p>
</div>
