/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
  --white: #ffffff;
  --ash: #c2c2c2;
  --grey: #525252;
  --blue: #1fa7d0;
}

*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
span,
i {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #525252;
  font-size: 10px;
  line-height: 1.8rem;
}

html,
body {
  font: normal 400 12px/18px "Lato", sans-serif;
  color: var(--grey);
}

@mixin reset-mp {
  margin: 0;
  padding: 0;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin margin($val1, $val2, $val3, $val4) {
  margin: $val1 $val2 $val3 $val4;
}
@mixin padding($val1, $val2, $val3, $val4) {
  padding: $val1 $val2 $val3 $val4;
}

.container {
  padding: 25px;
}

p {
  font-size: 1.2rem;
}

strong {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2.2rem;
}

.clear {
  clear: both;
  width: 100%;
  float: left;
}

a {
  font-size: 12px;
  color: #1fa7d0;
  text-decoration: none;
}

h5 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  clear: both;
}

.greyContact {
  background: #c2c2c2;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  * {
    margin-right: 20px;
    color: #525252;
    img {
      margin-right: 4px;
    }
  }
  .mail {
    text-decoration: underline;
  }
}

/*********************************/
//      About Style starts
/*********************************/

.abtIntro {
  @include padding(0, 0, 30px, 0);
  .para {
    @include padding(30px, 0, 10px, 0);
  }
}

.warrantyTxt,
.careTxt {
  @include padding(30px, 0, 30px, 0);
  .para {
    @include padding(30px, 0, 10px, 0);
  }
}

.deliveryTxt {
  @include padding(30px, 0, 30px, 0);
  .para {
    @include padding(10px, 0, 10px, 0);
    &:first-child {
      @include padding(30px, 0, 10px, 0);
    }
  }
}

.stoneHeading {
  @include margin(0, auto, 30px, auto);
  @include padding(0, 35px, 0, 35px);
  display: table;
  font-weight: 500;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 21px;
    height: 18px;
    background: url(assets/stone-heading-left.svg) no-repeat center center;
  }
  &::after {
    content: "";
    position: absolute;
    top: -3px;
    right: 0;
    width: 21px;
    height: 18px;
    background: url(assets/stone-heading-right.svg) no-repeat center center;
  }
}

/*********************************/
//       About Style ends
/*********************************/

/*********************************/
//       Home Style starts
/*********************************/
.threeBlocks {
  padding: 25px;
  & > * {
    background: #ffffff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    padding: 20px 30px 10px;
    margin-bottom: 25px;

    h5 {
      margin-bottom: 30px;
      width: 100%;
      img {
        margin-right: 10px;
      }
    }
    .itemGrid {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      div {
        width: 46%;
        margin: 0 0 20px 0;
        position: relative;
        img {
          border-radius: 6px;
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
        }
        span {
          background: rgba(0, 0, 0, 0.5);
          color: #fff;
          font-size: 18px;
          width: 100%;
          text-align: center;
          line-height: 32px;
          float: left;
          position: absolute;
          left: 0;
          bottom: 16px;
          display: table;
        }
      }
    }
  }
}

.testimonials {
  margin-bottom: 55px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  span {
    text-align: center;
  }
}

.homeAbout {
  margin-bottom: 20px;
  & > img {
    margin-bottom: 20px;
  }
  .para {
    @include padding(10px, 0, 10px, 0);
  }
}

/*********************************/
//       Home Style ends
/*********************************/
