<app-header></app-header>
<ion-content [fullscreen]="true">
  <div class="banner">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <img src="../../assets/home-slider-1.png" alt="" />
      </ion-slide>
      <ion-slide>
        <img src="../../assets/home-slider-1.png" alt="" />
      </ion-slide>
      <ion-slide>
        <img src="../../assets/home-slider-1.png" alt="" />
      </ion-slide>
    </ion-slides>
  </div>

  <div class="threeBlocks">
    <div class="blockOne">
      <h5><img src="../../assets/home-new-icon.svg" alt="" /> New Arrivals</h5>
      <div class="itemGrid">
        <div><img src="../../assets/home-new-1.jpg" /></div>
        <div><img src="../../assets/home-new-2.jpg" /></div>
        <div><img src="../../assets/home-new-3.jpg" /></div>
        <div><img src="../../assets/home-new-4.jpg" /></div>
      </div>
    </div>
    <div class="blockTwo">
      <h5><img src="../../assets/home-prod-icon.svg" alt="" /> Our Products</h5>
      <div class="itemGrid">
        <div>
          <img src="../../assets/home-prod-1.jpg" /> <span>Quartz</span>
        </div>
        <div>
          <img src="../../assets/home-prod-2.jpg" /> <span>Granite</span>
        </div>
        <div>
          <img src="../../assets/home-prod-3.jpg" /> <span>Marble</span>
        </div>
        <div><img src="../../assets/home-prod-4.jpg" /> <span>Tile</span></div>
      </div>
    </div>
    <div class="blockThree">
      <h5>
        <img src="../../assets/home-services-icon.svg" alt="" /> Our Services
      </h5>
      <div class="itemGrid">
        <div><img src="../../assets/home-services-1.jpg" /></div>
        <div><img src="../../assets/home-services-2.jpg" /></div>
        <div><img src="../../assets/home-services-3.jpg" /></div>
        <div><img src="../../assets/home-services-4.jpg" /></div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="testimonials">
      <h5 class="stoneHeading">Our Customer's Feedback</h5>

      <ion-slides pager="true" class="testSlider" [options]="testimonialSlideOpts">
        <ion-slide>
          <span> <img src="../../assets/feedback.png" alt="" /></span>
          <strong>Nick Cowan I Managing Director I Stone of London</strong>
          <p>
            We have been working with yghh Stone since 2016 and have found them
            to be a good supplier of quartz slabs with a fantastic product. They
            offer an excellent and personal service and we look forward to a
            long relationship with them.
          </p>
        </ion-slide>
        <ion-slide>
          <span> <img src="../../assets/feedback.png" alt="" /></span>
          <strong>Nick Cowan I Managing Director I Stone of London</strong>
          <p>
            We have been working with yghh Stone since 2016 and have found them
            to be a good supplier of quartz slabs with a fantastic product. They
            offer an excellent and personal service and we look forward to a
            long relationship with them.
          </p>
        </ion-slide>
        <ion-slide>
          <span> <img src="../../assets/feedback.png" alt="" /></span>
          <strong>Nick Cowan I Managing Director I Stone of London</strong>
          <p>
            We have been working with yghh Stone since 2016 and have found them
            to be a good supplier of quartz slabs with a fantastic product. They
            offer an excellent and personal service and we look forward to a
            long relationship with them.
          </p>
        </ion-slide>
      </ion-slides>
    </div>
    <div class="homeAbout">
      <h5 class="stoneHeading">About Us</h5>
      <img src="../../../assets/banner_about-us.png" alt="" />
      <p class="para">
        RT Stone Supplier is a London based firm specialising in Importing
        Quartz, Granite, Marble, Tiles and other Natural Stone. RT Stone was
        established out of the desire of the owners to bring to the market high
        quality and affordable products. We have been established for over 7
        years and are well known to the industry for our excellent customer
        service, we pride ourselves in undertaking high quality materials,
        skilled workmanship and competitive pricing. Unlike the vast majority of
        stone fabrication firms. Whilst we are happy to manage all aspects of an
        assignment, from start to finish, those clients with established
        designs, or who wish to use other providers for survey and architectural
        design services, can of course take advantage of our services
        independently. If you have an idea or design, we can make it a reality!
      </p>
      <p class="para">
        iStone quartz is the newest addition to the iStone portfolio. iStone
        quartz brings a natural aesthetic resembling some of our most asked for
        quartz materials. We are excited about the synergy of iStone Quartz and
        its complement to our product lines.
      </p>
      <p class="para">
        iStone quartz surfaces are a blend of nature and technology. The
        perfectly engineered product for easy care, durability and colour
        consistency.
      </p>
      <p class="para">
        iStone quartz surfaces contain up to 93% natural quartz, combined with
        resin, mineral pigments and other additives, giving it exceptional
        toughness and hardness. Being extremely resistant to scratching,
        scuffing and being very long lasting, iStone Quartz surfaces are an
        ideal solution for both residential and commercial applications.
      </p>
    </div>
  </div>
  <app-grey-contact></app-grey-contact>
  <app-footer></app-footer>
</ion-content>
